body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1cm ;
    font-size: medium;
    }
.container{
    height:1000;
    width:700;
    background-color:white;
    margin-left:70px;
    border: 2px solid whitesmoke;
    }

.bluebox{
    height: 300;
    width: 600;
    margin: 15;
    background-color: rgb(233, 233, 255);
    border-left-style: solid;
    border-left-color: blue;
    border-left-width: 5;
    border-radius: 4px;
    padding: 30px;
}
.time{
    padding:30px;
    width: 100px;
    height: 80px;
    float: left;
}
.align{
    float: left;
    padding:30px;
    
}
.greenc{
    border-radius: 50%;
    color: green;
    border-style: solid;
    background-color: green;
    width: 7;
    height: 7;
    float: left;
    margin-top:10px;
}
.orangec{
    border-radius: 50%;
    color: orange;
    border-style: solid;
    background-color: orange;
    width: 6;
    height: 6;
    float: left;
    margin-top:10px;
}
.Location {
    float: left;
    text-decoration: underline;
    padding-left: 4px;
    
}

hr{
    margin-top:220;
   
}
.attendes{
    padding: 30px;
}
.options{
    padding-right: 50px;
    display: inline;
}
.buttons{
   
    padding:10px;
    color:blue;
    border-radius: 3px;
    height: 40;
    width: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-color: blue;
    align-items: center;
}
.buttons:focus{
    background-color: blue;
    color: white;
}
.greenbox{
    height: 300;
    width: 600;
    margin: 15;
    background-color:rgb(221, 247, 221);
    border-left-style: solid;
    border-left-color:green;
    border-left-width: 5;
    border-radius: 4px;
    padding: 30px;
}
.buttonsg{
    padding:10px;
    color:green;
    border-radius: 3px;
    height: 40;
    width: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-color:green;
    align-items: center;
}
.buttonsg:focus{
    background-color:green;
    color: white;
}
#link{
    float: right;
}
a{
    padding: 15px;
    color:red;
}
.day{
    margin-left: 45;
    margin-right: 15;
    height: 80;
    background-color: white;
}
.arrow{
    margin: 10;
    border-radius: 4px;
    font-size: large;
    color:red;
    background-color: aliceblue;
    width:40;
    height:40;
    text-align: center;
    float: left;
}
#day{
    margin-top: 10;
    margin-left:110;
    margin-right:110;
    float: left;
    width:250;
    height:40;
    text-align: center;
    background-color: aliceblue;
    border-radius: 4px;
}
.heading{
    margin:15 15 0 25;
    height: 70;
    width: 660;
    background-color: white;
    border-color: rgb(175, 130, 71);
}
#class{
    padding: 15px;
    float:left;
}
#available{
    padding: 15 10 30 200;
    float: left;
}
#mode
{
    display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#greencc{
   margin-top: 20; 
   float: left;
   margin-left: 10px;
}
#orangecc{
    margin-top: 10;
    float: left;
    margin-left: 10px;
}
.Locations1{
    float: left;
    margin-top: 8; 
}
.Locations2{
    margin-top: 0;
    float: left; 
}
.vl {
    border-left: 3px solid red;
    height: 80;
    float: left;
}